<%= javascript_include_tag "table" %> 
      <script>
        var data = <%= @data.to_json.html_safe %>;
        var schema = <%= @schema.to_json.html_safe %>; 
      </script>

<div id="sidebar" class="ui left sidebar vertical thin floating">
  <h1 class="ui header" style="text-align:center; padding-top:10px;">Data[x]</h1>
  <div class="ui fluid teal vertical menu"> <!-- need to add accordian -->
    <% @schema.each do |title, table| %>
      <div class="header item">
        <i class="table icon"></i>
        <%= title.capitalize %>
      </div>

    <div class="table <%= title %> menu" style="display:none;"> 
      <% i = 0 %>
      <% while i  < table.length %>
        <a class="teal item" data-table="<%= title %>" data-column="<%=table[i][0]%>"><%= table[i][0]%></a>
        <% i += 1 %>
      <% end %>
    </div>
    <% end %>
  </div>
  <center>
    <a class="ui black button">Update Table</a>
  </center>
</div>
		<script>
			var data = <%= @data.to_json.html_safe %>;
      var schema = <%= @schema.to_json.html_safe %>; 
      var headers = window.data.shift() || [];
      var params = {"select" : {},
                    "filter" : {},
                    "sort"   : {}}
		</script>
	</div>

<!-- <div class="ui page grid">"> -->
<div class="ui page grid" style="margin-top: 15px;">
  <div class="ui right floated black launch button">
    <i class="list layout icon"></i> Sources
  </div>


  <div class="green ui buttons">
    <div class="ui button filter"> 
      <i class="filter icon"></i>
      Filter 
    </div>
    <div class="ui button sort "> 
      <i class="sort icon"></i>
      Sort 
    </div>
    <a href='<%= new_database_dynamic_column_path @database %>'>
      <div class="ui button add_column">
      <i class="bolt icon"></i>
        Add Dynamic Column
      </div>
    </a>
    <div class="ui button reset"> 
      Reset 
    </div>
    <a href="#" id='export_csv_btn'>
      <div class="ui button add_column">
        <i class="bolt icon"></i>
        Export CSV
      </div>
    </a>
  </div>
</div>

<div id="filter-container">
  <div class="content">
    <!-- Insert Content -->
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">Submit</div>
  </div>
</div>

<!-- DARWISH CODE -->
  <div id="table_container">
    <div id="table" class="handsontable" style="overflow: scroll"></div>
  </div>
<!-- Filter Modal -->


<script type="text/template" class="filter-row-string">
  <div class="ui three column grid filter-criteria"> 
    <div class="column">
      <div class="ui segment">
        <div class="name"> <%%- temp.col_name %> </div>
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown ui segment filter-dropdown" style="margin-left: 30px;">
        <input type="hidden" name="Criteria">
        <div class="text" style="margin-top: 6px"> Contains </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item active" data-value="contains">Contains</div>
          <div class="item" data-value="start_with">Starts With</div>
          <div class="item" data-value="ends_with">Ends With</div>
          <div class="item" data-value="exactly_matches">Exactly Matches</div>
        </div>
      </div>
    </div>
    <input class= "value column ui segment" style="border: 1px black" placeholder="Enter criteria value">
  </div>
</script>

<script type="text/template" class="filter-row-num-date">
  <div class="ui three column grid filter-criteria"> 
    <div class="column">
      <div class="ui segment">
        <div class="name"> <%%- temp.col_name %> </div>
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown ui segment filter-dropdown" style="margin-left: 30px;">
        <input type="hidden" name="Criteria">
        <div class="text" style="margin-top: 6px"> Equals </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item active" data-value="equals">Equals</div>
          <div class="item" data-value="less_than">Less Than</div>
          <div class="item" data-value="greater_than">Greater Than</div>
          <div class="item" data-value="is_in">In (Comma Separated Values) </div>
        </div>
      </div>
    </div>
    <input class= "value column ui segment" style="border: 1px black" placeholder="Enter criteria value">
  </div>
</script>

<script type="text/template" class="filter-row-boolean">
  <div class="ui three column grid filter-criteria"> 
    <div class="column">
      <div class="ui segment">
        <div class="name"> <%%- temp.col_name %> </div>
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown ui segment  " style="margin-left: 30px;">
        <input type="hidden" name="Criteria">
        <div class="text" style="margin-top: 6px"> is </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="equals">is</div>
        </div>
      </div>
    </div>
    <input class= "value column ui segment" style="border: 1px black" placeholder="True or False">
  </div>
</script>

<script type="text/template" class="filter-row-dynamic">
  <div class="ui three column grid filter-criteria"> 
    <div class="column">
      <div class="ui segment">
        <div class="name"> <%%- temp.col_name %> </div>
      </div>
    </div>
    <div class="column">
      <div class="ui selection dropdown ui segment  " style="margin-left: 30px;">
        <input type="hidden" name="Criteria">
        <div class="text" style="margin-top: 6px"> Equals </div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item" data-value="contains">Contains</div>
          <div class="item" data-value="equals">Equals</div>
          <div class="item" data-value="less_than">Less Than</div>
          <div class="item" data-value="greater_than">Greater Than</div>
          <div class="item" data-value="is_in">In (Comma Separated Values) </div>
          <div class="item" data-value="start_with">Starts With</div>
          <div class="item" data-value="ends_with">Ends With</div>
          <div class="item" data-value="exactly_matches">Exactly Matches</div>
        </div>
      </div>
    </div>
    <input class= "value column ui segment" style="border: 1px black" placeholder="Enter criteria value">
  </div>
</script>

<script type="text/template" class="ui-dropdown">
    <div class="ui selection dropdown ui segment <%%- temp.dropdown_name %>" style="">
      <input type="hidden" name="Criteria">
      <div class="text" style="margin-top: 6px"> <%%- temp.starting_value %> </div>
      <i class="dropdown icon"></i>
      <div class="menu">
       <!-- inserting column names here via javascript -->
    </div>
</script>

<script type="text/template" class="column-name-item">
  <div class="item" data-value="<%%- temp.col_index %>"><%%- temp.col_name %></div>
</script> 


<div class="filter ui modal">
  <i class="close icon"></i>
  <div class="header">
    Welcome to the Filter Builder
  </div>
  <div class="content">
    <!-- Insert Content -->
  </div>
  <div class="green ui buttons actions">
    <div class="ui button">Cancel</div>
    <div class="ui button">Submit</div>
  </div>
</div>
