<h1>Query Data</h1>

<%= javascript_include_tag "table" %> 

<div class="ui black huge launch right attached button" style="width: 70px;">
      <i class="icon list layout"></i>
      <span class="text" style="display: none;">Sources</span>
</div>

<div id="sidebar" class="ui left sidebar vertical floating">

	 <h1 class="ui header">Select Data<h1>
	 <div class="ui fluid vertical menu">
	 	 <% @schema.each do |title, table| %>
      <div class="header large item">
        <i class="table icon"></i>
        <%= title.capitalize %>
      </div>
      <% i = 0 %>
      <% while i + 2 < table.length %>
        <div class="menu">
          <a class="item"><%= table[i][0]%></a>
          <% i += 1 %>
        </div>
      <% end %>
     <% end %>
    </div>
</div>
		<script>
			var data = <%= @data.to_json.html_safe %>;
      var schema = <%= @schema.to_json.html_safe %>; 
		</script>
	</div>






  


<!-- DARWISH CODE -->

 



  <div>
    <div id="grid-container"> 
      <div class="small ui button filter"> Filter </div>
      <div class="small ui button sort "> Sort </div>
      <div class="small ui button add_column"> Add Column </div>
      <div class="filter_dropdown"> 
        <div class="ui selection dropdown">
          <input type="hidden" name="gender">
          <div class="text">Female</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="1">Male</div>
            <div class="item active" data-value="0">Female</div>
          </div>
        </div>
      </div> 
      <div id="table" class="handsontable" style="overflow: scroll"></div>
      <!-- <textarea class="formula-builder"> </textarea> -->
    </div> 
    
  </div>


 <!-- Filter Modal -->


